ClearInt.hlsl                                       -T cs -E ClearInt                           
ClearFloat4.hlsl                                    -T cs -E ClearFloat4                        
# 
bvh/ComputeTotalBounds.hlsl                         -T cs -E ComputeTotalBounds
bvh/ComputeTotalBounds.hlsl                         -T cs -E ComputeTotalBoundsNV       -D ComputeTotalBounds=ComputeTotalBoundsNV -DUSE_NV_SHADER_EXT=1 -DNV_SHADER_EXTN_SLOT=u7
bvh/ComputeTotalBounds.hlsl                         -T cs -E ComputeTotalBoundsAMD      -D ComputeTotalBounds=ComputeTotalBoundsAMD -DUSE_AMD_SHADER_EXT=1
bvh/ComputeTotalBoundsGroup.hlsl                    -T cs -E ComputeTotalBoundsGroup
bvh/ComputeTotalBoundsGroup.hlsl                    -T cs -E ComputeTotalBoundsGroupNV      -D ComputeTotalBoundsGroup=ComputeTotalBoundsGroupNV -DUSE_NV_SHADER_EXT=1 -DNV_SHADER_EXTN_SLOT=u7
bvh/ComputeTotalBoundsGroup.hlsl                    -T cs -E ComputeTotalBoundsGroupAMD     -D ComputeTotalBoundsGroup=ComputeTotalBoundsGroupAMD -DUSE_AMD_SHADER_EXT=1
bvh/ComputeTotalBoundsFinalize.hlsl                 -T cs -E ComputeTotalBoundsFinalize         
bvh/CalculateMortonCodes.hlsl                       -T cs -E CalculateMortonCodes               
bvh/CalculateKeyDeltas.hlsl                         -T cs -E CalculateKeyDeltas                 
bvh/BuildLeaves.hlsl                                -T cs -E BuildLeaves                        
bvh/BuildHierarchy.hlsl                             -T cs -E BuildHierarchy                     
# 
radixSort1CS.hlsl                                   -T cs -E radixSort1CS                        
radixSort2CS.hlsl                                   -T cs -E radixSort2CS                        
radixSort3CS.hlsl                                   -T cs -E radixSort3CS                        
radixSortBlockCS.hlsl                               -T cs -E radixSortBlockCS                   
# 
CalculateBounds.hlsl                                -T cs -E CalculateBounds
CalculateBounds.hlsl                                -T cs -E CalculateBoundsNV -DCalculateBounds=CalculateBoundsNV -DUSE_NV_SHADER_EXT=1 -DNV_SHADER_EXTN_SLOT=u7
CalculateBounds.hlsl                                -T cs -E CalculateBoundsAMD -DCalculateBounds=CalculateBoundsAMD -DUSE_AMD_SHADER_EXT=1
CalculateBoundsGroup.hlsl                           -T cs -E CalculateBoundsGroup
CalculateBoundsGroup.hlsl                           -T cs -E CalculateBoundsGroupNV -DCalculateBoundsGroup=CalculateBoundsGroupNV -DUSE_NV_SHADER_EXT=1 -DNV_SHADER_EXTN_SLOT=u7
CalculateBoundsGroup.hlsl                           -T cs -E CalculateBoundsGroupAMD -DCalculateBoundsGroup=CalculateBoundsGroupAMD -DUSE_AMD_SHADER_EXT=1
CalculateBoundsFinalize.hlsl                        -T cs -E CalculateBoundsFinalize     
CalculateBoundsFinalize.hlsl                        -T cs -E CalculateBoundsFinalizeNV   -DCalculateBoundsFinalize=CalculateBoundsFinalizeNV -DUSE_NV_SHADER_EXT=1 -DNV_SHADER_EXTN_SLOT=u7
CalculateBoundsFinalize.hlsl                        -T cs -E CalculateBoundsFinalizeAMD  -DCalculateBoundsFinalize=CalculateBoundsFinalizeAMD -DUSE_AMD_SHADER_EXT=1
CalculateInflatableVolume.hlsl                      -T cs -E CalculateInflatableVolume
CalculateInflatableVolume.hlsl                      -T cs -E CalculateInflatableVolumeNV    -DCalculateInflatableVolume=CalculateInflatableVolumeNV -DUSE_NV_SHADER_EXT=1 -DNV_SHADER_EXTN_SLOT=u7
CalculateInflatableVolume.hlsl                      -T cs -E CalculateInflatableVolumeAMD   -DCalculateInflatableVolume=CalculateInflatableVolumeAMD -DUSE_AMD_SHADER_EXT=1
SolveInflatableVolume.hlsl                          -T cs -E SolveInflatableVolume
SolveInflatableVolume.hlsl                          -T cs -E SolveInflatableVolumeNV -DSolveInflatableVolume=SolveInflatableVolumeNV -DUSE_NV_SHADER_EXT=1 -DNV_SHADER_EXTN_SLOT=u7
SolveSprings.hlsl                                   -T cs -E SolveSprings
SolveSprings.hlsl                                   -T cs -E SolveSpringsNV -DSolveSprings=SolveSpringsNV
# 
UpdateTriangles.hlsl                                -T cs -E UpdateTriangles
UpdateTriangles.hlsl                                -T cs -E UpdateTrianglesNV -DUpdateTriangles=UpdateTrianglesNV -DUSE_NV_SHADER_EXT=1 -DNV_SHADER_EXTN_SLOT=u7
UpdateVertexNormals.hlsl                            -T cs -E UpdateVertexNormals
UpdateVertexNormals.hlsl                            -T cs -E UpdateVertexNormalsNV -DUpdateVertexNormals=UpdateVertexNormalsNV -DUSE_NV_SHADER_EXT=1 -DNV_SHADER_EXTN_SLOT=u7
UpdateTrianglesInit.hlsl                            -T cs -E UpdateTrianglesInit
UpdateVertexNormalsInit.hlsl                        -T cs -E UpdateVertexNormalsInit
NormalizeVertexNormals.hlsl                         -T cs -E NormalizeVertexNormals
CalculateVorticity.hlsl                             -T cs -E CalculateVorticity
CalculateParticleHash.hlsl                          -T cs -E CalculateParticleHash
Predict.hlsl                                        -T cs -E Predict
CreateGrid.hlsl                                     -T cs -E CreateGrid
ClearCellBuckets.hlsl                               -T cs -E ClearCellBuckets
ReorderParticles.hlsl                               -T cs -E ReorderParticles
CompactDiffuseParticles.hlsl                        -T cs -E CompactDiffuseParticles
ComputeTriangleBounds.hlsl                          -T cs -E ComputeTriangleBounds
ContinuousShockPropagation.hlsl                     -T cs -E ContinuousShockPropagation
#
# Hand-recovered DXBC shader sources
CollideParticles.hlsl                               -T cs -E CollideParticles
CollideShapes.hlsl                                  -T cs -E CollideShapes
CollideTriangles.hlsl                               -T cs -E CollideTriangles
ApplyDeltas.hlsl                                -T cs -E ApplyDeltas
CalculateAnisotropy.hlsl                            -T cs -E CalculateAnisotropy
CalculateDensity.hlsl                           -T cs -E CalculateDensity
CalculateDensitySurfaceTension.hlsl                 -T cs -E CalculateDensitySurfaceTension
ClampDiffuseParticleCount.hlsl                  -T cs -E ClampDiffuseParticleCount
CreateDiffuseParticles.hlsl                     -T cs -E CreateDiffuseParticles
Finalize.hlsl                                   -T cs -E Finalize
SmoothPositions.hlsl                                -T cs -E SmoothPositions
SolveContactsAccumulate.hlsl                        -T cs -E SolveContactsAccumulate
SolveContactsAveraged.hlsl                          -T cs -E SolveContactsAveraged
SolveContactsSequential.hlsl                        -T cs -E SolveContactsSequential
SolveDensities.hlsl                                 -T cs -E SolveDensities
SolveDensitiesNonFluid.hlsl                         -T cs -E SolveDensitiesNonFluid
SolveDensitiesSurfaceTension.hlsl                   -T cs -E SolveDensitiesSurfaceTension
SolveShapes.hlsl_rev                                -T cs -E SolveShapes
SolveShapes128NV.hlsl_rev                           -T cs -E SolveShapes128NV -DNV_SHADER_EXTN_SLOT=u7
SolveShapes32NV.hlsl_rev                            -T cs -E SolveShapes32NV -DNV_SHADER_EXTN_SLOT=u7
SolveShapesNV.hlsl_rev                              -T cs -E SolveShapesNV -DNV_SHADER_EXTN_SLOT=u7
SolveShapesPlasticDeformation.hlsl_rev              -T cs -E SolveShapesPlasticDeformation
SolveShapesPlasticDeformation128NV.hlsl_rev         -T cs -E SolveShapesPlasticDeformation128NV -DNV_SHADER_EXTN_SLOT=u7
SolveShapesPlasticDeformation32NV.hlsl_rev          -T cs -E SolveShapesPlasticDeformation32NV -DNV_SHADER_EXTN_SLOT=u7
SolveShapesPlasticDeformationNV.hlsl_rev            -T cs -E SolveShapesPlasticDeformationNV -DNV_SHADER_EXTN_SLOT=u7
SolveVelocities.hlsl                                -T cs -E SolveVelocities
SpringsGenerateIndices.hlsl                     -T cs -E SpringsGenerateIndices
SpringsParticleRange.hlsl                       -T cs -E SpringsParticleRange
SpringsReorder.hlsl                             -T cs -E SpringsReorder
TransformShapeBounds.hlsl                           -T cs -E TransformShapeBounds
UpdateDiffuseParticles.hlsl                         -T cs -E UpdateDiffuseParticles
UpdateVelocities.hlsl                           -T cs -E UpdateVelocities
bvh/ComputeTotalInvEdges.hlsl                       -T cs -E ComputeTotalInvEdges
