# we do not store binary outputs in Flex

# windows
*.exp
*.ilk
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/settings.json
.cache
build
.run
.toolchains
demo/compiler
extensions/compiler
src/dx/context

# android
*.apk
